.walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.walrus-showing1 {
  display: none;
}

.walrus-showing2 {
  display: none;
}

.clickable1 {
  cursor: pointer;
  color: #0088cc;
}

.clickable1:hover {
  text-decoration: underline;
}

.clickable2 {
  cursor: pointer;
  color: #0088cc;
}

.clickable2:hover {
  text-decoration: underline;
}